<table class="productsTable">
    <tr>
        <th>Propiedad</th>
        <th>Valor</th>
    </tr>
    <tr>
        <td>Argumentos de entrada</td>
        <td>{{args}}</td>
    </tr>
    <tr>
        <td>Sistema Operativo / Plataforma</td>
        <td>{{os}}</td>
    </tr>
    <tr>
        <td>Versión de Node</td>
        <td>{{version}}</td>
    </tr>
    <tr>
        <td>Path de Node</td>
        <td>{{path}}</td>
    </tr>
    <tr>
        <td>Uso de Memoria / Memoria Alocada</td>
        <td>{{rss}}</td>
    </tr>
    <tr>
        <td>Directorio de Scripts</td>
        <td>{{dir}}</td>
    </tr>
    <tr>
        <td>ID de Proceso</td>
        <td>{{id}}</td>
    </tr>
</table>